#home {
  height: 100vh;
  background-color: rgb(18, 30, 39);
  padding-top: 0;
}

.home-contents {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-bottom: 100px;
}

.text-and-links {
  align-items: center;
}

.links svg {
  width: 50px;
  fill: white;
  cursor: pointer;
  transition: fill 0.15s, transform 0.15s;
}

.emoji-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links svg:hover {
	fill: rgb(0, 116, 217);
  transform: scale(1.2);
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links a {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: bottom;
  position: relative;
}

.links a .tooltip{
  position: absolute;
  background-color: transparent;
  color: white;
  border-radius: 2px;
  font-size: 15px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.links a:hover .tooltip {
  opacity: 1;
}

#home h2 {
  line-height: 60px;
  padding-bottom: 10px;
  margin: 0;
  text-align: center;
}

@media (max-aspect-ratio:1/2){
  .home-contents{
    flex-direction: column-reverse;
    align-items: center;
  }
}