#projects {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	color: rgb(18, 30, 39);
}

.project {
  display: flex;
  align-items: top;
  margin-bottom: 100px;
  justify-content: space-between;
}

.project-info {
  flex: 1;
}

.project-icon-container {
	display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: flex-end;
}

.project-icon {
  border: none;
  display: flex;
  justify-content: center;
  align-items: bottom;
  position: relative;
}

.project-icon svg {
	width: 30px;
  fill: rgb(18, 30, 39);
}

.project-icon .tooltip {
	position: absolute;
  color: rgb(18, 30, 39);
  border-radius: 2px;
  font-size: 15px;
  bottom: -20px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.project-icon:hover .tooltip {
	opacity: 1;
}

.view-project-container {
  display: inline-block;
  width: 190px;
  height: 4px;
}

.view-project {
  display: block;
  padding: 10px 20px;
  background-color: rgb(18, 30, 39);
  border: 1px solid #ccc;
  text-decoration: none;
  color: white;
  transform-origin: left top;
  transition: transform 0.5s, color 0.5s;
  border-radius: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.view-project:hover {
  transform: scale(1.10);
  color: rgb(0, 116, 217);
}

.view-project::after {
  content: '\f08e';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-left: 5px;
  display: none;
}

.view-project:hover::after {
  display: inline-block;
}

.screenshot {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.screenshot img {
  width: 40%;
  border: 2px solid rgb(18, 30, 39);
  transition: transform 0.3s;
  border-radius: 10px;
}

.screenshot img:hover {
  transform: scale(1.05);
}

@media (max-width: 1310px){
  .project{
    flex-direction: column;
  }
  .screenshot {
    padding-top: 30px;
  }
  .project-icon-container {
    padding-right: 80px;
  }
}